body {
    background-color: white;
  }

h1{
    margin: auto;
    width: 20%;
    padding: 20px;
}
.conntent {
    margin: auto;
    width: 100%;
    padding: 20px;

}
.conntent_2 {
    position: absolute;
    text-align: center;
    top: 1%;
    width: 100%;
}