<!DOCTYPE html>
<html>
<head>
    <title>Whisky</title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
</head>
<body>
    <div class = "conntent">
        <h1> Wybierz whisky: </h1>
        <a href="http://127.0.0.1:5000/{{whisky[0].id}}"><img name="img_id" id="{{whisky[0].id}}}" src="{{whisky[0].image}}" width="400" height="737"></a>
        <a href="http://127.0.0.1:5000/{{whisky[2].id}}"><img name="img_id" id="{{whisky[2].id}}}" src="{{whisky[2].image}}" width="450" height="737"></a>
        <a href="http://127.0.0.1:5000/{{whisky[1].id}}"><img name="img_id" id="{{whisky[1].id}}}" src="{{whisky[1].image}}" width="450" height="737"></a>
    </div>
</body>
</html>
