<!DOCTYPE html>
<html>
<head>
    <title>Whisky</title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
</head>
<body>
    <div class = "conntent">
        <h1> Wybierz whisky: </h1>
        <a href="http://127.0.0.1:5000/{{whisky[7].id}}"><img name="img_id" id="{{whisky[0].id}}}" src="{{whisky[7].detail_img_url}}" width="400" height="737"></a>
        <a href="http://127.0.0.1:5000/{{whisky[63].id}}"><img name="img_id" id="{{whisky[2].id}}}" src="{{whisky[63].detail_img_url}}" width="450" height="737"></a>
        <a href="http://127.0.0.1:5000/{{whisky[200].id}}"><img name="img_id" id="{{whisky[1].id}}}" src="{{whisky[200].detail_img_url}}" width="450" height="737"></a>
        <p><button class="butt" onclick="location.href='http://127.0.0.1:5000/sortowanie'" type="button">Sortowanie</button></p>
    </div>
</body>
</html>
