<!DOCTYPE html>
<html lang="en">
<head>
    <title>Whisky</title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
</head>
<body>
    <div class="conntent_3">
        <p><button onclick="location.href='http://127.0.0.1:5000/'" type="button">Powrót do menu wyboru</button></p>
            <form action="/sortowanie" method="POST">
                <h2> Wybierz smaki jakie ma mieć whisky!</h2>
                <input type="checkbox" id="{{taste[0]}}" name="0" value="{{taste[0]}}">{{taste[0]}}</input>
                <input type="checkbox" id="{{taste[1]}}" name="1" value="{{taste[1]}}">{{taste[1]}}</input>
                <input type="checkbox" id="{{taste[2]}}" name="2" value="{{taste[2]}}">{{taste[2]}}</input>
                <input type="checkbox" id="{{taste[3]}}" name="3" value="{{taste[3]}}">{{taste[3]}}</input>
                <input type="checkbox" id="{{taste[4]}}" name="4" value="{{taste[4]}}">{{taste[4]}}</input>
                <input type="checkbox" id="{{taste[5]}}" name="5" value="{{taste[5]}}">{{taste[5]}}</input>
                <input type="checkbox" id="{{taste[6]}}" name="6" value="{{taste[6]}}">{{taste[6]}}</input>
                <input type="checkbox" id="{{taste[7]}}" name="7" value="{{taste[7]}}">{{taste[7]}}</input>
                <input type="checkbox" id="{{taste[8]}}" name="8" value="{{taste[8]}}">{{taste[8]}}</input>
                <input type="checkbox" id="{{taste[9]}}" name="9" value="{{taste[9]}}">{{taste[9]}}</input>
                <input type="checkbox" id="{{taste[10]}}" name="10" value="{{taste[10]}}">{{taste[10]}}</input>
                <input type="checkbox" id="{{taste[11]}}" name="11" value="{{taste[11]}}">{{taste[11]}}</input>
                <input type="checkbox" id="{{taste[12]}}" name="12" value="{{taste[12]}}">{{taste[12]}}</input>
                <input type="checkbox" id="{{taste[13]}}" name="13" value="{{taste[13]}}">{{taste[13]}}</input>
                <input type="checkbox" id="{{taste[14]}}" name="14" value="{{taste[14]}}">{{taste[14]}}</input>
                <input type="checkbox" id="{{taste[15]}}" name="15" value="{{taste[15]}}">{{taste[15]}}</input>
                <input type="checkbox" id="{{taste[16]}}" name="16" value="{{taste[16]}}">{{taste[16]}}</input>
                <input type="checkbox" id="{{taste[17]}}" name="17" value="{{taste[17]}}">{{taste[17]}}</input>
                <input type="checkbox" id="{{taste[18]}}" name="18" value="{{taste[18]}}">{{taste[18]}}</input>
                <input type="checkbox" id="{{taste[19]}}" name="19" value="{{taste[19]}}">{{taste[19]}}</input>
                <input type="checkbox" id="{{taste[20]}}" name="20" value="{{taste[20]}}">{{taste[20]}}</input>
                <input type="checkbox" id="{{taste[21]}}" name="21" value="{{taste[21]}}">{{taste[21]}}</input>
                <input type="checkbox" id="{{taste[22]}}" name="22" value="{{taste[22]}}">{{taste[22]}}</input>
                <input type="checkbox" id="{{taste[23]}}" name="23" value="{{taste[23]}}">{{taste[23]}}</input>
                <input type="checkbox" id="{{taste[24]}}" name="24" value="{{taste[24]}}">{{taste[24]}}</input>
                <input type="checkbox" id="{{taste[25]}}" name="25" value="{{taste[25]}}">{{taste[25]}}</input>
                <input type="checkbox" id="{{taste[26]}}" name="26" value="{{taste[26]}}">{{taste[26]}}</input>
                <input type="checkbox" id="{{taste[27]}}" name="27" value="{{taste[27]}}">{{taste[27]}}</input>
                <input type="checkbox" id="{{taste[28]}}" name="28" value="{{taste[28]}}">{{taste[28]}}</input>
                <input type="checkbox" id="{{taste[29]}}" name="29" value="{{taste[29]}}">{{taste[29]}}</input>
                <input type="checkbox" id="{{taste[30]}}" name="30" value="{{taste[30]}}">{{taste[30]}}</input>
                <input type="checkbox" id="{{taste[31]}}" name="31" value="{{taste[31]}}">{{taste[31]}}</input>
                <p><input type="submit" value="Pokaż Whisky"></p>
            </form>
    </div>
</body>
</html>